@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import './utilities/var';
@import './utilities/reset';
@import './typo/size';
@import './mixins/mixins';
@import './utilities/buttons';

html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@import './navigation/nav';
@import './elements/home';
@import './components/tools';